h1,h3{
    text-align: center;
}

input{
    width: 95%;
    margin-bottom: 5px;
    margin-left: 2.5%;
}

label {
    width: 100%;
    text-align: center;
}

#btnContainer{
    text-align:center;
    margin-bottom:10px;
}

button {
    width: 15%;
    height: 8vh;
    margin-top:10px;
    margin-bottom: 10px;
}

#searchContainer{
    border:3px solid black;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
}
